<link rel="stylesheet" href="../css/nabvar.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="page-wrapper chiller-theme toggled">

    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Marcação de Ponto</a>
                <div id="close-sidebar">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">Roger
                        <strong>Guillermo</strong>
                    </span>
                    <span class="user-role">Coordenador</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Geral</span>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#squad" role="button"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> Squads <span
                                class="caret">
                            </span>
                            <span class="badge badge-pill badge-danger">3</span>
                        </a>
                        <ul id="squad" class="collapse">
                            <li class="sidebar-menu-option">
                                <a href="#!colaboradores">
                                    Lista de Colaboradores</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Metas do Time</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Meus Times </a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#ponto" role="button"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-clock"></i> Ponto <span
                                class="caret">
                            </span>
                        </a>
                        <ul id="ponto" class="collapse">
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Gestão de Ponto</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Marcação de Ponto</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Banco de Horas </a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#dashboards" role="button"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-tachometer-alt"></i> Dashboards
                            <span class="caret">
                            </span>
                        </a>
                        <ul id="dashboards" class="collapse">
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Gestão de Desempenho</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Marcações Inconsistentes</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Reporte Financeiro </a>
                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#travel" role="button"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-plane"></i> Férias <span
                                class="caret">
                            </span>
                            <span class="badge badge-pill badge-danger">3</span>
                        </a>
                        <ul id="travel" class="collapse">
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Agendar Férias</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Férias do Time</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Férias Individuais</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#bussines" role="button"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-building"></i> Minha Empresa
                            <span class="caret">
                            </span>
                            <span class="badge badge-pill badge-danger">3</span>
                        </a>
                        <ul id="bussines" class="collapse">
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Agenda da companhia</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Registrar eventos</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Organograma Empresarial</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-menu">
                        <span>Extra</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Documentação</span>
                            <span class="badge badge-pill badge-primary">Beta</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-phone"></i>
                            <span>Suporte</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#configuracoes" role="button"
                            aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> Configurações <span
                                class="caret">
                            </span></a>
                        <ul id="configuracoes" class="collapse">
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Meu Perfil</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Sistema</a>
                            </li>
                            <li class="sidebar-menu-option">
                                <a href="#/home/usuarios">
                                    Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="#">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>

    <!-- Conteúdo da Pagina -->
    <main class="page-content">
        <div class="container-fluid">
            <div ng-view></div>
        </div>
    </main>
</div>